@{
    ViewData["Title"] = "About Palindrome Store";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This applications provides list of Palindromes. <br/>We can add new palindrome strings to this store</p>
