@model IEnumerable<PalindromeStore.Entities.Palindrome>

@{
    ViewData["Title"] = "Palindrome";
}

<div class="jumbotron">
    <h1>Palindrome Store</h1>
    <p class="lead">
        Here are the list of Palindromes from the store..
        <ul>
            <li>You can add new plandromes</li>
            <li>And remove unwanted plandromes</li>
        </ul>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>
